
venv/
.venv/

__pycache__/
*.pyc
*.pyo
*.pyd

/sistema_gestion_usuarios/.env


.env
*.env

*.log
logs/
*.sqlite3
instance/
db.sqlite3


docker-compose.override.yml
*.pid
*.swp
*.swo


.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db
